<body class="container d-flex justify-content-center">
<div class="jumbotron my-auto mt-sm-5">
  <h1>Register</h1>
  <form>
    <div>
      <label>Username</label>
      <input type="text" class="form-control" placeholder="Username">
    </div>

    <div>
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password">
    </div>

    <div>
      <label>Repeat Password</label>
      <input type="password" class="form-control" placeholder="Repeat Password">
    </div>

    <div>
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Name">
    </div>

    <div>
      <label>E-mail</label>
      <input type="email" class="form-control" placeholder="E-mail">
    </div>


    <div class="mt-4">
      <button class="btn btn-success me-2">Register</button>
    </div>
  </form>
  <br>
  <a [routerLink]="['../login']">Back to login form</a>
</div>
</body>
